package pages

import "lcor.io/songs/src/components"

templ Landing() {
	@components.Index("Welcome") {
		<main hx-boost="true" class="flex h-screen w-screen items-center justify-center ">
			<a href="/play">Play</a>
		</main>
	}
}
