
package components

import "lcor.io/songs/src/services"

templ InlinePlaylists(title string, playlists services.SpotifyPlaylistResult) {
	<div class="w-full grid place-items-center gap-4 grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
		for _, item := range playlists.Playlists.Items {
			<div hx-post={ "/create/" + item.Id }>
				@PlaylistCover(item)
			</div>
		}
	</div>
}
