package components

import "lcor.io/songs/src/services"

templ PlaylistCover(playlist services.Playlist) {
	<img
		src={ playlist.Images[0].Url }
		width="300"
		height="300"
		class="rounded-lg shadow transition-all cursor-pointer hover:scale-105 hover:shadow-lg"
		alt={ playlist.Name }
	/>
}
