package components

import "fmt"

templ Scores(scores []struct {
	Id    string
	Score float32
}) {
	for _, rank := range scores {
		<div class="flex justify-between items-center">
			{ rank.Id } : { fmt.Sprintf("%.2f", rank.Score) }
		</div>
	}
}
