package pages

import (
	"lcor.io/songs/src/services"
	"lcor.io/songs/src/components/playlist"
)

templ ActiveRooms(rooms map[string]*services.Room) {
	for _, room := range rooms {
		<a href={ templ.URL("/play/" + room.Id) } hx-boost="true">
			@components.PlaylistCover(*room.Playlist)
		</a>
	}
}
